body {
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(50px);
    background-color: #000000b3;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: background-image 1s ease;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #1a1a1acc;
    backdrop-filter: blur(10px);
    position: relative;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    flex-grow: 1; /* Allow the header name to grow to take available space */
    z-index: 1; /* Ensure it stays above other content */
}

.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    position: absolute;
    left: 20px; /* Adjust as needed for spacing */
    z-index: 1; /* Ensure it stays above other content */
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #f0f0f0;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.bar:hover {
    background-color: #ffffff;
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .menu-icon {
        position: absolute;
        left: 10px;
    }

    h1 {
        text-align: center;
		font-size: 1.5em;
        flex-grow: 1;
    }
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
	background-color: rgb(43 43 43 / 39%);
}

.sidebar {
    width: 0;
    height: 100%;
	overflow-x: clip;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1a1a1acc;
    backdrop-filter: blur(10px);
    transition: width 0.3s ease;
    z-index: 1002;
    white-space: nowrap; /* Ensure content does not wrap */
}

.sidebar-content {
    width: 250px; /* Fixed width for the content */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar.open {
    width: 250px;
}

section {
    width: 100%;
    max-height: fit-content;
    padding: 20px;
    background-color: rgba(43, 43, 43, 0.9);
}

h2 {
    text-align: center;
    color: #ffffff;
}

#stations-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: #00000000;
    box-shadow: none;
}

#stations-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #6a6a6a;
}

#station-info {
    text-align: center;
}

.album-art {
    min-width: 100px;
    max-width: 300px;
    height: -webkit-fill-available;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0px 0.7px 4px 0px #00000057;
    transition: opacity 1s ease;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.album-art.fade-out {
    opacity: 0;
}

.album-art.fade-in {
    opacity: 1;
}

audio {
    display: none; /* Hide the default audio controls */
}

footer {
    background-color: #1a1a1acc;
    backdrop-filter: blur(10px);
    color: #f0f0f0;
    text-align: center;
    padding: 10px 20px;
}

/* Frosted glass effect for currently playing section */
#currently-playing {
    background-color: #1a1a1a57; /* Slightly opaque white background */
    backdrop-filter: blur(10px); /* Blur effect */
    align-content: center;
}

/* Custom Audio Controls Styles */
#custom-audio-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.control-button {
    background-color: #57a0d200;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.5em; /* Adjust icon size */
}

#volume-slider {
    width: 150px;
    margin: 0 10px;
}

#volume-label {
    margin-left: 10px;
}
